<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <section class="top">
        <div  class="image-container">
            <div class="nav">
                <a href="/" class="nav-link" id="link-1">Home</a>
                <a href="/about" class="nav-link" id="link-2">About</a>
                <a href="/contact" class="nav-link" id="link-3">Contact</a>
            </div>
            <img src="/images/apollon-6.png" alt="Background image of Apollon, the new wearable device.">
            <h1 class="header-text">About Apollon</h1>
        </div>
    </section>
    <section class="slide-section">
        <div class="logos">
            <div class="logos-slide">
                <img src="/images/apollon-1.png" alt="" />
                <img src="/images/apollon-2.png" alt=""/>
                <img src="/images/apollon-3.png" alt=""/>
                <img src="/images/apollon-4.png" alt=""/>
                <img src="/images/apollon-5.png" alt=""/>
                <img src="/images/apollon-6.png" alt=""/>
                <img src="/images/apollon-7.png" alt=""/>
                <img src="/images/apollon-8.png" alt=""/>
                <img src="/images/apollon-9.png" alt=""/>
                <img src="/images/apollon-10.png" alt=""/>
              </div>
      
            <div class="logos-slide">
                <img src="/images/apollon-1.png" alt="" />
                <img src="/images/apollon-2.png" alt=""/>
                <img src="/images/apollon-3.png" alt=""/>
                <img src="/images/apollon-4.png" alt=""/>
                <img src="/images/apollon-5.png" alt=""/>
                <img src="/images/apollon-6.png" alt=""/>
                <img src="/images/apollon-7.png" alt=""/>
                <img src="/images/apollon-8.png" alt=""/>
                <img src="/images/apollon-9.png" alt=""/>
                <img src="/images/apollon-10.png" alt=""/>
              </div>
          </div>
    </section>
    <section class="about-section" id="aboutabout">
        <h3 class="section-header">About</h3>
        <p>Hospital apparatus is usually clunky, bulky, and uncomfortable for the patient. This degrades a patient's experience, possibly impacting their attitude towards treatment, their overall treatment experience, and ultimately both their mental and physical health. Furthermore, such equipment is difficult to carry around, clean, and maintain by hospital staff, and the handling of said equipment can cause injuries and significantly lower energy levels. </p>
        <p>Apollon, designed by  the renowned design firm Adaption, partnering with leading healthcare startup SkyLabs, has announced a groundbreaking wearable device. Apollon can measure oxygen saturation, temperature, and respiration rate in real time; these functions are all packaged into a sleek, small, user-centric device composed of a ring and wristband connected by a flexible wire. The design incorporates a detachable, easy-to-clean silicone cover that fits various finger sizes comfortably, ensuring fit for a diverse range of patients. </p>
        <p>Apollon’s design is made up of a ring and wristband connected by a flexible wire. The wristband (itself made of easy-to-clean removable silicone) display allows users to check their health data, and the battery, previously found in the ring, has been moved to the wristband. This improves wearing comfort and enables longer usage. In addition, the single-sized silicone ring around the sensor module provides comfort, as well as allowing users of varying finger sizes to wear it comfortably. </p>
    </section>
    <section class="benefits-section" id="aboutbenefits">
        <h4 class="section-header">APOLLON IS...</h4>
        <div class="cards">
            <div class="card">
                <img src="/images/apollon.jpg" alt="Background image of Apollon, the new wearable device.">
                <h5 class="card-text"><span>User-centric</span></h5>
                <span class="new-text">Adaption’s design goes beyond aesthetic excellence to deliver innovation in usability and functionality.</span>
            </div>
            <div class="card">
                <img src="/images/apollon-2.png" alt="Background image of Apollon, the new wearable device.">
                    <h5 class="card-text"><span>Innovative</span></h5>
                    <span class="new-text">Apollon won an Innovation Award at CES 2025.</span>
            </div>
            <br>
            <div class="card">
                <img src="images\apollon-5.png" alt="Background image of Apollon, the new wearable device.">
                    <h5 class="card-text"><span>Designed by experts</span></h5>
                    <span class="new-text">The design of Apollon was created by the renowned industrial design firm Adaption.</span>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="/images/apollon-5.png" alt="Background image of Apollon, the new wearable device.">
                    <h5 class="card-text"><span>Multi-purpose</span></h5>
                    <span class="new-text">Apollon can measure oxygen saturation, temperature, and respiration rate, among other vitals, in real time.</span>
            </div>
            <div class="card">
                <img src="/images/apollon-8.png" alt="Background image of Apollon, the new wearable device.">
                    <h5 class="card-text"><span>Easy to clean</span></h5>
                    <span class="new-text">The wristband and ring are made of easy-to-clean silicone.</span>
            </div>
            <br>
            <div class="card">
                <img src="/images/apollon-7.png" alt="Background image of Apollon, the new wearable device.">
                    <h5 class="card-text"><span>Inclusive</span></h5>
                    <span class="new-text">The silicone ring fits a diverse range of patients.</span>
            </div>
        </div>
    </section>
    <section class="research-section" id="aboutresearch">
        <h3 class="section-header">The Research</h3>
        <p>Due to the nature of healthcare provision, more ergonomic technology can help improve the lives of both healthcare providers and patients. In 2019, U.S. hospitals reported 221,400 work-related injuries or illnesses - furthermore, given the lengthy and demanding work hours of healthcare providers, maintaining energy levels for patient care is critical. Equipment uncomfortable to use and/or maintain, or injuries from said use diminish this energy. In addition, in 2022, 46% of health workers reported feeling burnt out or exhausted - part of this may have resulted from the daily handling of this uncomfortable-to-use equipment. Thus, using more comfortable, easy-to-use equipment may ease and/or partially solve the previously stated problems.</p>
        <p> The better healthcare professionals can do their work, the overall more healthy society will be. Thus, a smaller, more comfortable and easy-to-use technology, which replaces several bulky, hard-to-use machines will have a massive impact on society in the long-run. </p>
        <p>For the patients, comfort is of utmost importance as it positively influences their well-being and their perception of the overall process, possibly leading to faster recovery and improved health. Thus, uncomfortable equipment can compromise a patient’s health in the long run. Therefore, the better and more comfortable hospital equipment (such as the Apollon) is, the better the overall health of patients, and by extension the better the health of the community. Improved health can have an abundance of positive long-term consequences, including but not limited to increased mental health, happiness, and productivity; All of these impacts massively influence society.
        <p>In conclusion, there is a need to develop comfortable, easy-to-use hospital equipment because  of the huge impact this technology will have on society. New equipment such as the Apollon will provide comfort to both healthcare providers and patients, enhancing the physical and mental health of both.</p> </p>
    </section>
    <section class="footer">
        <div class="home-list list">
            <h4>Home</h4>
            <a href="/">Home</a>
            <br>
            <a href="/#about_section">About</a>
            <br>
            <a href="/#benefits_section">Benefits of Apollon</a>
            <br>
            <a href="/#research_section">The Research</a>
            <br>
            <a href="/#contact_section">Contact</a>
        </div>
        <div class="about-list list">
            <h4>About</h4>
            <a href="/about">About Apollon</a>
            <br>
            <a href="/about#aboutbenefits">Benefits of Apollon</a>
            <br>
            <a href="/about#aboutresearch">The Research</a>
        </div>
        <div class="contact-list list">
            <h4>Contact</h4>
            <a href="/contact">Contact</a>
        </div>
    </section>
</body>
</html>