<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section class="hero">
        <div  class="image-container">
            <div class="nav">
                <a href="/" class="nav-link" id="link-1">Home</a>
                <a href="/about" class="nav-link" id="link-2">About</a>
                <a href="/contact" class="nav-link" id="link-3">Contact</a>
            </div>
            <img src="/images/apollon.jpg" alt="Background image of Apollon, the new wearable device.">
            <h1 class="header-text">A user friendly vitals tool. </h1>
            <h3 class="header-text" id="header-text-subtitle">Apollon is a light, comfortable, and easy-to-clean device for measuring vital signs in hospitalised patients.</h3>
        </div>
    </section>
    <section class="about">
        <h2 class="section-header" id="about_section">About</h2>
            <p>Apollon, designed by  the renowned design firm Adaption, partnering with leading healthcare startup SkyLabs, has announced a groundbreaking wearable device. Apollon can measure oxygen saturation, temperature, and respiration rate in real time; these functions are all packaged into a sleek, small, user-centric device composed of a ring and wristband connected by a flexible wire. The design incorporates a detachable, easy-to-clean silicone cover that fits various finger sizes comfortably, ensuring fit for a diverse range of patients. </p>
        <div class="button-div"><button class="learn-more-button" onclick=" location.href='/about'">Learn More</button></div>
    </section>
    <section class="benefits" id="benefits_section">
        <h2 class="section-header benefits-header">Benefits of Apollon</h2>
        <div class="cards">
            <div class="card">
                <img src="/images/apollon-2.png" alt="Background image of Apollon, the new wearable device.">
                <br>
                <h5>User-centric</h5>
                <br>
                <button class="learn-more-button-small" onclick=" location.href='/about#aboutbenefits'">Learn More </button>
            </div>
            <div class="card">
                <img src="/images/apollon-6.png" alt="Background image of Apollon, the new wearable device.">
                <br>
                <h5>Designed by experts</h5>
                <br>
                <button class="learn-more-button-small" onclick=" location.href='/about#aboutbenefits'">Learn More</button>
            </div>
            <div class="card">
                <img src="/images/apollon-5.png" alt="Background image of Apollon, the new wearable device.">
                <br>
                <h5>Innovative</h5>
                <br>
                <button class="learn-more-button-small" onclick=" location.href='/about#aboutbenefits'">Learn More</button>
            </div>
        </div>
    </section>
    <section class="research" id="research_section">
        <h2 class="section-header">The Research</h2>
        <p>Due to the nature of healthcare provision, more ergonomic technology can help improve the lives of both healthcare providers and patients. In 2019, U.S. hospitals reported 221,400 work-related injuries or illnesses - furthermore, given the lengthy and demanding work hours of healthcare providers, maintaining energy levels for patient care is critical. Equipment uncomfortable to use and/or maintain, or injuries from said use diminish this energy. In addition, in 2022, 46% of health workers reported feeling burnt out or exhausted - part of this may have resulted from the daily handling of this uncomfortable-to-use equipment. Thus, using more comfortable, easy-to-use equipment may ease and/or partially solve the previously stated problems. </p>
        <p> The better healthcare professionals can do their work, the overall more healthy society will be. Thus, a smaller, more comfortable and easy-to-use technology, which replaces several bulky, hard-to-use machines will have a massive impact on society in the long-run. </p>
        <div class="button-div"><button class="learn-more-button" onclick=" location.href='/about#aboutresearch'">Learn More</button></div>
    </section>
    <section class="contact" id="contact_section">
        <h3 class="contact-us-h3">Want to learn more or work with us?</h3>
        <div class="button-div"><button class="contact-button" onclick=" location.href='/contact'">Contact Us</button></div>
    </section>
    <section class="footer">
        <div class="home-list list">
            <h4>Home</h4>
            <a href="/">Home</a>
            <br>
            <a href="/#about_section">About</a>
            <br>
            <a href="/#benefits_section">Benefits of Apollon</a>
            <br>
            <a href="/#research_section">The Research</a>
            <br>
            <a href="/#contact_section">Contact</a>
        </div>
        <div class="about-list list">
            <h4>About</h4>
            <a href="/about">About Apollon</a>
            <br>
            <a href="/about#aboutbenefits">Benefits of Apollon</a>
            <br>
            <a href="/about#aboutresearch">The Research</a>
        </div>
        <div class="contact-list list">
            <h4>Contact</h4>
            <a href="/contact">Contact</a>
        </div>
    </section>
</body>
</html>