<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submitted</title>
    <link rel="stylesheet" href="/submitted.css">
</head>
<body>
    <h1 class="header-text">Thank you!</h1>
    <h3>Your message has been sent.</h3>
    <br>
    <br>
    <div class="button-div"><a href="/" class="learn-more-button">Home</a></div>
</body>
</html>